body {
  font-family: 'Roboto', arial;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  }

.header {
  color: #f9faf8;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb; 
}

.hero {
  display: flex;
  justify-content: center;
  gap: 64px;

}

.left {
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 400px;
  align-items: flex-start;
}

.right {
  display: flex;
  justify-content: flex-start;
}

.image {
  height: 200px;
  width: 500px;
  background-color: lightgray;
}

.section-2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 64px;
}

.card {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 150px;
}

.box {
  height: 150px;
  width: 150px;
  border: solid #3882f6;
}

.section-3 {
  background-color: #e5e7eb;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 200px;
}

b {
  align-self: flex-end;
}
